* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    
}


.logo-image {
    padding-left: 100px;
}

.vector-image {
    padding-right: 100px;
    align-items: center;
    display: flex;
    max-width: 20px;
    height: auto;

}
.first-container {
    display: flex;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.visual-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    font-size: 32px;
    background-color: #e9f4ff;
    justify-content: center;
    padding-bottom: 25px;
}

.visual-section h1 {
    margin-left: 30px;
}
span {
    text-decoration: underline;
    text-decoration-color: blue; /* Define a cor do underline */
    text-decoration-thickness: 2px; /* Define a espessura */
}

.picture-section {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #e9f4ff;

}

button {
    width: 167px;
    background-color: blue;
    height: 54px;
    color: white;
    border-radius: 8px;
    margin-left: 30px;
    margin-top: 48px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}
.header-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}
.header-section h1 {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

.header-section p {
    margin-top: 30px;
}
 .visual-section2 {
    display: flex;
    width: 100%;
 }

 .visual-section2 img {
    margin-left: 100px;
 }

 .paragraph-div {
    text-align: left;
    display: flex;
    align-items: center;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
 }

 .image-container {
    width: 40%;
}
.services-images {
    display: flex;
    flex-wrap: wrap; /* Permite que as imagens se ajustem para a linha seguinte quando necessário */
    justify-content: flex-start; /* Centraliza as imagens dentro do contêiner */
    gap: 20px; /* Adiciona espaço entre as imagens */
    margin-left: 20px;

}

.services-section {
    display: flex;
    background-color: #e9f4ff;
    align-items: center;
    flex-direction: column;
    align-items: center; /* Centraliza o conteúdo horizontalmente */
    justify-content: center; /* Centraliza o conteúdo verticalmente */
    text-align: center;
    margin-top: 50px;
    padding-bottom: 50px;
}

.services-section h1 {
    text-align: center;
    padding-bottom: 32px;
    margin-top: 48px;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 32px;
}

/*Pedro Part ↑*/
/*Kaho part　↓*/

.header_box{
    position: relative;
    margin:auto;
    padding:50px  40px;
    text-align: center;
}

.spantag{    
    background-image: url("./assets/kaho/under_bar.png");
    background-repeat: no-repeat;
    background-position: bottom;
    }    

.header_text{
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    padding:80px 0;
}

.story_box{
    display: flex;
    justify-content: center; 
    align-items: center;
    color: #4F5863;
    
}

.story_block{
    display: flex;
    width: 70%;
    height: 450px;
    background-color: #F4F6FE;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
}

.quote_box{
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: center;
}

.float_picture{
    width: 30%;
    height: auto;
    margin: 50px;
}

.quotation{
    width: 30px;
}

.btn_lft,
.btn_rgt{
    align-items: center;
    width: 30px;
}

.slider{
    display: block;
    margin: auto;
}

/*section*/

.contact_box{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    background-color: #E9F4FF;
}

.leftside_context{
    display: flex;
    flex-direction: column;
    margin-right: 100px;  
    gap: 40px; 
}

.leftside_top,
.leftside_middle,
.leftside_bottom{
    display:flex;
}

.leftside_logo{
    width: 40px;
    height: 50px;
    padding-top: 10px;
    padding-right: 5px;
}

.leftside_content {
    display: flex;
    flex-direction: column; 
    padding-left: 10px;
}

.leftside_header{
    font-size: 20px;
}

.leftside_text{
    color:darkgray;
}

.grid_box{
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    gap: 10px;
    background-color: white;
    padding: 30px;
    border: none;
    border-radius: 10px;
    position: relative;
    bottom: -30px; 
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1)
}

input{
    width: 480px;
    height: 48px;
    border: 1px solid #E2E7ED;
    color: #9AA5B3;
    border-radius: 5px; 
    padding-left: 13px;
}

button{
    margin-top: 20px;
    width:  150px;
    height: 50px;
    color: white;
    background-color: #4361EE;
    border-radius: 10px;
    border: none;
}

/*blogs*/
.blog_container{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.blog_left,
.blog_center,
.blog_right{
    display: flex;
    flex-direction: column;
    width: 370px;
    padding: 20px;
}

.under{
    background-color:#E9F4FF;
    height: 150px;
    padding: 15px;
    border-radius: 0 0 20px 20px;
}

.blog_text{
    font-size: 20px;
}
.read{
    font-size: 17px;
    color: #4361EE;
    padding-top: 20px;
}

.bottom_button{
    justify-content: center;
    text-align: center;
    margin-bottom: 70px;
}
/*footer*/

.footer_icon{
    width: 100%;
    height: auto;
    margin-top: 50px 100px;
    display: flex;
    color: #E2E7ED;
    background-color:#03071B;
    padding: 100px 50px 50px 50px;
    gap: 100px;
    justify-content: center;
}

.footer_title{
    font-weight: bold;
    padding-bottom: 15px;
}

.footer_1{
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    align-items: left;
}

.main_logo{
    width: 80px;
    max-width: 100%;
    display: flex;
}

.mini_icon{
    padding-top: 20px;
}

.footer_2{
    display: flex;
    flex-direction: column;
}

.footer2_top,
.footer2_middle,
.footer2_bottom{
    display:flex;
}

.footer2_text {
    display: flex;
    flex-direction: column; 
    padding-top: 10px;
    padding-left: 5px;
}

.footer_logo{
    width: 20px;
    height: 35px;
    padding-top: 16px;
    margin-right: 7px;
}
.footer_3{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}
.footer_4{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: left;
}

.bottom_mail{
    width: 350px;
    background-color: #03071B;
    color: #E2E7ED;
}

.sub_text{
    font-size: 13px;
}

.copyright{
    color: #E2E7ED;
    background-color:#03071B;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    justify-content: center;
    padding: 70px;
    flex-wrap: nowrap;
}

